/* CONFIG GERAIS */
:root{
  --vermelho:#E50914;
  --preto:#141414;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--preto);
  font-family: 'Arial', Times, serif;
  color:white
}

/* STYLE HEAD */
header .container{
  display: flex; /*Isso permite alinhar melhor os elementos internos*/
  flex-direction: row; /*tendencia de jogar os elementos como linhas*/;
  align-items: center; /*alinha verticalmente*/
  justify-content:space-between ; /*alinha horizontalmente*/
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
}

header nav a{
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/* STYLE BODY - MAIN */

.imagem {
  background-position: center; /* Centraliza a imagem */
  color: white; /* Define a cor do texto */
  text-align: left; /* Alinha o texto à esquerda */
  padding: 0px; /* Adiciona um espaço interno */
  justify-content: left; /* Centraliza verticalmente */
  align-items: flex-start; /* Alinha os itens à esquerda */
  
}
.principal {
  background-size:cover;
  display: flex; /*Apenas quem vai herdar isso são as filhas, não as netas*/
  flex-direction: row;
  align-items: center;
}

.descricao {
  margin-top: 10px;
  text-align: justify;
}

.titulo {
  padding-left: 30px;
  margin-bottom: 0px;
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.box-master{
  margin-top: 280px;
}

.box1{
  margin-top: 50px;
  display: flex;
}

.principal .margem {
  width: 70%;
}

.margem {
  margin-left: 20px;
}

.botao {
  background-color: rgba(0,0,0,.5);
  border: none;
  color: white;
  padding: 15px 30px;
  left: 50px;
  margin-left: 30px;
  margin-top: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: .3s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

/* STYLE BODY - BOX-PRINCIPAL */
.box-principal {
  margin: 0px 30px 0 40px  ;
}

.titulo-box {
  margin: 20px 0 10px 0;
  font-size: x-large;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.container {  
	display: flex; 
  flex-Direction: row;
	justify-content: center;
  flex-flow: row wrap;
        max-width: 1200px;
	margin: 0 auto;
	}

.produto {  
	display: flex; 
	justify-content: center;
  align-items: center;
	border: .15px solid #ccc; 
	border-radius: 8px;
	width: 90%;
  height: 40%;
  max-width: 12rem;
  margin: 0.25rem 0.15rem; 
	}

.produto:hover {
    width: 110%; /* Aumenta a largura da imagem ao passar o mouse */
    height: auto; /* Mantém a proporção da imagem */
    z-index: 1; /* Move a imagem para o topo */
    transition: width 0.5s, height 0.5s;
    margin: 0px;
    border: 0px
}

input[type="text"], textarea {
  background-color:var(--preto);
  color: white;
  width: 90%;
  padding: 1%;
}

/* Estilizando o botão de envio */
input[type="submit"] {
  border: none; /* Remove a borda */
  background-color: black; /* Define a cor de fundo como preta */
  color: white; /* Define a cor do texto como branca */
  padding: 10px 20px; /* Adiciona espaçamento interno */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

/* Estilizando os rótulos */
label {
  font-size: large; /* Altera o tipo de letra */
}

input[type="submit"]:hover {
  background-color: #333; /* Altera a cor de fundo ao passar o mouse sobre o botão */
}

.paragrafo-com-bolinha::before {
  content: "•";
  margin-right: 0.3em; /* Opcional: para adicionar um espaço entre a bolinha e o texto */
}

/* STYLE FOOTER */

.copy {
  color: #FFFFFF;
  font-size: 13px;
  margin:20px 0 0 ;
}
